<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
  <a href="/celebrities" class="btn btn-warning mb-2" >Check the celebrities! </a>
</div>  

<div>
  <a href="/celebrities/new" class="btn btn-warning mb-5">Create a new celebrity </a>
</div>

<div>
  <a href="/movies" class="btn btn-warning mb-2">Check the movies! </a>
</div>

<div>
  <a href="/movies/new" class="btn btn-warning">Create a new movie! </a>
</div>



