 <h4>edit movie</h4>

 <form action="/movie/{{movie.id}}/edit" method="POST">
  <div>
    <label for="title">title</label>
    <input type="text" name="title" value="{{movie.title}}" />
  </div>

  <div>
    <label for="title">genre</label>
    <input type="text" name="genre" value="{{movie.genre}}" />
  </div>

  <div>
    <label for="title">plot</label>
    <input type="text" name="plot" value="{{movie.plot}}" />
  </div>
   <button type="submit">Send</button>
  </form>