<h3> list movies </h3>

<ul>
  {{#each movies as |movie|}}
    <li>
      <a href="/movies/{{movie.id}}">
        {{movie.title}}
      </a>
    </li>
  {{/each}}
</ul>

<a href="movies/new" class="btn btn-warning" >Add new movies!</a>